<h1>
  <%= @property.title %>
</h1>
<h2><%= @property.description %></h2>

  
  <h3><%= "#{@property.class.human_attribute_name(:rooms)}: #{@property.rooms}" %></h3>

  <h3><%= "#{@property.class.human_attribute_name(:bathrooms)}: " "#{@property.bathrooms}" %></h3>
  
  <% if @property.pets? %>
    <h3><%= "#{@property.class.human_attribute_name(:pets)}: "%> Sim</h3>
  <% else %>
    <h3><%= "#{@property.class.human_attribute_name(:pets)}: "%> Não</h3>
  <% end %>

  <% if @property.parking_slot? %>
    <h3><%= "#{@property.class.human_attribute_name(:parking_slot)}: "%> Sim </h3>
  <% else %>
    <h3><%= "#{@property.class.human_attribute_name(:parking_slot)}: "%> Não </h3>
  <% end %>

  
  <h3><%= "#{@property.class.human_attribute_name(:daily_rate)}: #{number_to_currency(@property.daily_rate)}" %></h3>

<%= link_to(t('.back'), root_path) %>
<%= link_to(t('.edit'), edit_property_path) %>