<%= form_with model: @property_location do |f| %>
  <div>
  <%= f.label :name %>
  <%= f.text_field :name %>
  </div>

  <% @property_location.errors.full_messages_for(:name).each do |message| %>
    <p><%= message %></p>
  <% end %>

  <%= f.submit 'Enviar'%>
<% end %>