<header>
<h1>Flats</h1>
<h3>Boas vindas ao sistema de locação de apartamentos</h3>

<nav>
<%= link_to 'Cadastrar região', new_property_location_path %>
</nav>

<nav>
<%= link_to 'Cadastrar tipo de imóvel', new_property_type_path %>
</nav>
</header>

<aside>
<h2>Filtrar por tipo:</h2>
<nav>
  <% @property_types.each do |pt| %>
    <%= link_to pt.name, property_type_path(pt.id) %>
  <% end %>
</nav>
</aside>

<aside>
<h2>Filtrar por região:</h2>
  <nav>
    <% @property_locations.each do |pt| %>
      <%= link_to pt.name, property_location_path(pt.id) %>
    <% end %>
  </nav>
</aside>

<% if @properties.empty? %>
  <h2><%= "Nenhum imóvel disponível" %></h2>
<% else %>
  <%= render "partial_shared/preview", property: @properties%>
<% end %>


